body header h1{
    color: brown;
}

body header{
    background-color: #bde0fe;
}

body{
    background-color: #8ecae6;
}

#experience{
    margin-right: 30px;
}

#contact{
    margin-right: 20px;
}

/* #self{
    margin-top: 200px;
} */

#myimg{
    margin-top: 50px;
    margin-left: 400px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#figure{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: green;
    text-decoration: none;
}

th {
    text-transform: uppercase;
}

.top {
    background-color: #EB5406; 
}

em {
    background-color: blue;
}

#the_most_important {
    text-transform: uppercase;
    background-color: gold;
}

h1 {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}

/* h1 + p::first-letter {
    font-size: x-large;
}

tr:hover {
    background-color: lightcyan; 
}

tr:hover td {
    background-color: inherit; 
}

nav ul li {
    display: inline;
}

nav ul li:first-child a {
    text-decoration: underline;
}

nav ul li:not(:first-child) a {
    text-decoration: none;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;  
}

tbody tr:nth-child(even) {
    background-color: #e6e6e6;  
}

::selection {
    background-color: lightskyblue;  
}

body a:not(nav a):hover {
    cursor: pointer;
}

input {
    height: 20px;
}

input[type="text"] {
    border-color: lightgray;
}

input[name="message"] {
    height: 50px;
} */

